<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artwork Details</title>
</head>

<body>
    <h1><%= artwork.title %> by <%= artwork.artist %></h1>

    <img src="<%= artwork.imageUrl %>" width="400" />

    <p>Mood: <%= artwork.mood %></p>

    <p>Songs that match this mood:</p>
    
    <hr>

    <% songs.slice(0, 5).forEach(function(song) { %>
        <pr><%= song.name %> by <%= song.artist.name %></pr><br>
    <% }); %>
</body>

</html>