<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs")%>
    <title>Artworks</title>
</head>

<body>
    <header><h1>Browse Artworks</h1></header>

    <nav><%- include("partials/nav.ejs") %></nav>

    <div id="artwork">
        <% artworks.forEach(art=> { %>
            <div>
                <br><img src="<%= art.imageUrl %>" alt="<%= art.title %>" width="200" />
                
                <h2><%= art.title %> by <%= art.artist %></h2>

                <button class="artLinks"><a href="/artwork/<%= art.artworkId %>">View Mood and Songs</a></button>
                
                <hr>
            </div>
        <% }) %>
    </div>
    <hr>
    <%- include("partials/footer.ejs")%>
</body>

</html>